<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
        <h1>Dear administrator</h1>

            <p>Customer <%= @user.first_name %> <%= @user.last_name %> </p>

            <p>had order this <%= @cart  %> command.</p>

 </body>

</html>
