<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hi <%= @user.first_name %> <%= @user.last_name %></h1> 
    

    <p>Welcome with us !
      You have subscrived on monsite.fr with this e-mail address : <%= @user.email %>.
    </p>

    <p>
      To access on your dashboard, please connect with : <%= @url %>.
    </p>

     See you soon on <strong> monsite.fr ! </strong>
  </body>
</html>