<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hi <%= @user.first_name %> <%= @user.last_name %>, Welcome with us !</h1> 
    
    <p>
      You have subscrived on my-travel-thp.herokuapp.com with this e-mail address : <%= @user.email %>.
    </p>

    <p>
      To access on your dashboard, please connect with : <%= @url %>.
    </p>

     <p> See you soon on <strong> Mytravel.fr ! </strong> </p>
  </body>
</html>