<p id="notice"><%= notice %></p>
<div class="background_checkerboard city_page">
    <div class="container">
        <div class="row ">

				<% @cities.each do |city| %>
					<%= render 'card', city: city %>
				<% end %>
					
            
      </div>
    </div>
  </div>






