// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* page User Show ##########################################################################*/


.show_profile {
    background-image: url("https://assets.website-files.com/59e98418f9cd070001c89d5a/59edb594d338d60001c20b3f_pattern.jpg");
    border-radius: 2px;
}
.show_profile_title {
    font-size: 80px;
    text-align: center;
    margin-bottom: 5%;
    color:#4F3922;
    border: thick double #32a1ce;
    border-radius: 5px;
    font-family: 'droid_serifbold';
    src: url('DroidSerif-Bold-webfont.eot');
    src: url('DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('DroidSerif-Bold-webfont.woff2') format('woff2'),url('DroidSerif-Bold-webfont.woff') format('woff'),url('DroidSerif-Bold-webfont.ttf') format('truetype'),url('DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.picture1 {
    width: 100%;
    height: 100%;
}
.picture1:hover {
    opacity: 40%;
}

.button_show_profile {
margin-top: 6%;
margin-left: 25%;
}
.show_line_profile {
    padding-top: 5%;
    font-size: 33px;
    color: #4F3922;
    margin-bottom: 0px;
    font-family: 'droid_serifbold';
    src: url('DroidSerif-Bold-webfont.eot');
    src: url('DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('DroidSerif-Bold-webfont.woff2') format('woff2'),url('DroidSerif-Bold-webfont.woff') format('woff'),url('DroidSerif-Bold-webfont.ttf') format('truetype'),url('DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
    
    }
    
.data_show_profile {
    background-color: beige;
    padding: 1%;
    border-radius: 3px;
    color: #DFA25F;
}
.data_show_profile:hover {
background-color: white;
color: chocolate;
text-shadow: 2px 0px 2px cornsilk;
border-radius: 33px;
}


/* page Edit User ##################################################################*/

.edit_user {
    background-image: url("https://assets.website-files.com/59e98418f9cd070001c89d5a/5a5a10b011f84b0001e85ae7_bg-pattern.jpg");
  margin-top: 0.5%;
  margin-bottom: 1%;
  padding-top: 2%;
  border-radius: 6px;
  color: whitesmoke;
  font-family: 'droid_serifbold';
  src: url('DroidSerif-Bold-webfont.eot');
  src: url('DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('DroidSerif-Bold-webfont.woff2') format('woff2'),url('DroidSerif-Bold-webfont.woff') format('woff'),url('DroidSerif-Bold-webfont.ttf') format('truetype'),url('DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
  font-weight: bold;
  font-style: normal;


}
.button_user_edit {
  margin-top: 5%;
  margin-bottom: 10%;
}
.edit_user_title {
    color: whitesmoke;
    font-family: 'droid_serifbold';
    src: url('DroidSerif-Bold-webfont.eot');
    src: url('DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('DroidSerif-Bold-webfont.woff2') format('woff2'),url('DroidSerif-Bold-webfont.woff') format('woff'),url('DroidSerif-Bold-webfont.ttf') format('truetype'),url('DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}