<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <% @activities.each do |activity| %>
      <div class="card-deck">
        <% for activity in @activities do %>
        <%= render partial: "card", locals: {activity: activity} %>
        <% end %>
      </div>
      </div>
    </tr>
  </thead>





  <% end %>
</table>

<br>

<%= link_to 'New Activity', new_city_activity_path%>